<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.highend.model">
    <select id="selectByDeptId" parameterType="java.lang.String" resultType="com.jd.highend.model.Department">
        select dept_id,name,parent_id,remark from t_department where dept_id=#{dept_id}
    </select>
</mapper>